// Color scheme
[{bAttr} *= {mVersion}] {
    --clr-main: DarkGoldenRod;
    --clr-main-contrast: FloralWhite;

    border-style: none solid;
    border-color: var(--clr-main);
}

[{eTh} *= {mVersion}] {
    color: var(--clr-main-contrast);
    background: var(--clr-main);
    border-color: var(--clr-main);
    border-style: solid none;
}

[{eTd} *= {mVersion}] {
    color: var(--clr-main);
    background: var(--clr-main-contrast);
    border-style: solid none;
}