/* Color scheme */
--clr-main = DarkGoldenRod;
--clr-main-contrast = FloralWhite;

[{bAttr} *= {mVersion}] {
    border-style: none solid;
    border-color: --clr-main;
}

[{eTh} *= {mVersion}] {
    color: --clr-main-contrast;
    background: --clr-main;
    border-color: --clr-main;
    border-style: solid none;
}

[{eTd} *= {mVersion}] {
    color: --clr-main;
    background: --clr-main-contrast;
    border-style: solid none;
}
