/* Size scheme */
--x = 5px;
--thin = 1px;

[{bAttr} *= {mVersion}] {
    border-collapse: collapse;
    border-width: 0 --thin;
}

[{eTh} *= {mVersion}] {
    padding: --x;
    border-width: --thin 0;
}

[{eTd} *= {mVersion}] {
    padding: --x;
    border-width: --thin 0;
}
