// Size scheme
[{bAttr} *= {mVersion}] {
    --x: 5px;
    --thin: 1px;

    border-collapse: collapse;
    border-width: 0 var(--thin);
}

[{eTh} *= {mVersion}] {
    padding: var(--x);
    border-width: var(--thin) 0;
}

[{eTd} *= {mVersion}] {
    padding: var(--x);
    border-width: var(--thin) 0;
}