[{eItem} *= {mVersion}]
    line-height: (--x*2);

[{eItem} *= {mVersion}]::first-letter
    text-transform: uppercase;

[{eItem} *= {mVersion}][{eItem} *= {mVertical}]
    display: block;
    margin: --x 0;

[{eItem} *= {mVersion}][{eItem} *= {mLeft}]
    display: block;
    padding-left: --x;