json('./ui-nav.naming.json');
json('./ui-nav.iamCss.json');

bAttr = attr;
eItem = attr + '__item';
mVersion = "'" + '"v":"' + v + '"' + "'";
mVertical = "'" + '"dir":"' + dirVert + '"' + "'";
mHorizontal = "'" + '"dir":"' + dirHoriz + '"' + "'";