json('./ui-nav.naming.json');
json('./ui-nav.iamCss.json');

bAttr = attr;
eItem = attr + attrItem;
mVersion = "'" + '"v":"' + v + '"' + "'";
mVertical = "'" + '"dir":"' + dirVert + '"' + "'";
mHorizontal = "'" + '"dir":"' + dirHoriz + '"' + "'";
mLeft = "'" + '"pos":"' + posLeft + '"' + "'";
mTop = "'" + '"pos":"' + posTop + '"' + "'";
mIsCurrent = "'" + '"isCurrent":true' + "'";