<label><span ng-bind="::$ctrl.findLabel"></span> <input value="o" ng-model="$ctrl.findText" /></label>
<table ui-table pg-users__table>
    <thead><tr>
        <th ui-table__th='{"^":["thead"]}' ng-bind="::$ctrl.fioLabel"></th>
        <th ui-table__th='{"^":["thead"]}' ng-bind="::$ctrl.asBossLabel"></th>
    </tr></thead>
    <tbody ng-repeat="group in $ctrl.groups">
        <tr>
            <th ui-table__th='{"^":["tbody"]}' colspan="2" ng-bind="::group.groupName"></th>
        </tr>
        <tr ng-repeat="user in group.users | filter: $ctrl.findText | orderBy: ['asBossId', 'lastName']">
            <td ui-table__td='{"^":["tbody"]}'>{{::user.firstName}} {{::user.lastName}}</td>
            <td ui-table__td='{"^":["tbody"]}' pg-users-tbl__td="asBoss">{{::user.asBoss}}</td>
        </tr>
    </tbody>
</table>