[{bApp} *= 'leftNav'] {
    --nav-w: 10em;

    display: block;
    box-sizing: border-box;
    margin-left: var(--nav-w);
    padding: 2em;
    min-height: 12em;
}

[{eNav} *= 'leftNav'] {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--nav-w);
}